# MongoDB Connection String
# For local MongoDB: mongodb://localhost:27017/trainflow
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/trainflow
MONGODB_URI=mongodb://localhost:27017/trainflow

# JWT Secret Key (change this to a secure random string in production)
JWT_SECRET=trainflow_jwt_secret_key_2024

# Server Port
PORT=5000

# MQTT Broker Configuration
MQTT_HOST=13.235.248.117
MQTT_PORT=1883
MQTT_USERNAME=trainflow
MQTT_PASSWORD=Trainflow@2026!

